.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
  
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  .buttonClass {
    border-radius: 40%;
}

body {font-family: 'Montserrat', sans-serif;}

* {
  box-sizing: border-box;
}

.zoom {
  padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  z-index: 1;
}

.limit-p {
  font-size: 12px;
  width: 700px;
  padding: 2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: break-spaces;
  max-width: 1000px; /* Adjust as needed */
}


.my-span {
  position: relative;
}

.my-span.hovered {
  z-index: 2;
}